{% extends 'header.html' %}
{% block content %}
    <style>
        body,html {
            height: 100%;
            margin: 0;
        }
        header{
            width: 100%;
            position: relative;
        }
        .container {
            display: flex;
            flex-direction: row;
            height: 20%;
            font-family: "Pretendard-Medium"
        }
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
        nav>ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        nav>ul>li {
            display: flex;
            flex-direction: column; 
        }
        #kakao {
            background-color: #FEE500;
            padding: 35px 87px;
            border-radius: 13px;
            border: 0px solid #000000;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #222222;
            font-size: 30px;
            font-family: "Pretendard-Medium";
            font-weight: 500;
            letter-spacing: 0.15px;
            word-wrap: break-word;
            margin-bottom: 38px;
        }
        #kakao:hover {
            background-color: #baa800;
        }
        #kakao:active {
            background-color: #ba8800;
        }
        #kakao-icon {
            margin-right: 15px;
        }
        #title > svg {
            margin-bottom: 109.8px;
            margin-top: 173.5px;
        }
        #logo {
            padding-top: 68px;
            padding-bottom: 49px;
        }
        .content {
            color: #121212;
            font-size: 23px;
            font-weight: 500;
            line-height: calc(24.61px + 15px);
            letter-spacing: 0.12px;
            word-wrap: break-word;
            padding-top: 22px;
        }
        span {
            color: black;
            font-size: 15px;
            font-family: "Pretendard-Medium";
            font-weight: 500;
            line-height: 7.50px;
            letter-spacing: 0.07px;
            word-wrap: break-word;
        }
        #Question:link, #Question:visited {
            color: #0F62FE;
        }
        #Question:hover, #Question:active {
            color: #062661;
            font-weight: bold;
        } 
        #Question {
            font: inherit;
            text-decoration: None;
        }
        .loading_circle {
            position: relative;
            width: 32px;
            height: 32px;
            border-top: 4px solid #FFDE02;
            border-right: 4px solid #FFDE02;
            border-bottom: 4px solid #FFDE02;
            border-left: 4px solid rgba(0,0,0,0);
            border-radius: 45px;
            z-index: 11;
            
            animation: Loading 1s linear infinite;
        }
        @keyframes Loading {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .loading {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,.4);
            backdrop-filter: blur(12px);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
        }
        .display_none {
            display: none !important; 
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <button id="kakao">
                <img id="kakao-icon" src="{{url_for('static', filename='image/kakao icon.svg')}}" alt="">
                카카오 1초 로그인/회원가입</button>
            <span id="Question">로그인이 안 되실 경우 <a href="#">여기</a>로 문의주세요</span>
        </div>
        <div class="right">
            <h1 id="title">
                <img src="{{url_for('static', filename='image/title.svg')}}" alt="">                    
            </h1>
            <img src="./../static/image/cat.png" alt="고양이 이미지입니다" width="128" height="auto">
            <div class="content">야옹이 안전지킴이는 집을 비운 집사를 대신해서 <br>
                고양이가 위험한 곳에 올라가거나 닿지는 않았는지 감지해 알림을 주는 서비스입니다. <br><br>
                
                현재 베타 버전으로 인덕션까지 학습이 가능합니다. <br>
                집에 있는 인덕션의 사진을 올려주시고 웹캠이나 펫캠을 연결하면 <br>
                AI가 자동으로 접촉 여부를 인식해 알림을 보내줘요. <br><br>
                
                향후 고양이가 접근하면 안되는 여러 위험물들을 추가할 예정이니 많이 응원해 주세요!</div>
        </div>
    </div>
    
	<div id="loading" class="loading display_none">
		<div class="loading_circle"></div>
	</div>

{% endblock %}