{% extends 'header.html' %}
{% block content %}

<!-- <title>MAIN</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pretendard%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/main03.css"/>  -->

<style>
  html {
    font-size: 62.5%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  input {
    border: none;
  }

  body {
    width: 192rem;
  }

  .main {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .main .header {
    margin-bottom: 2.0333rem;
    box-sizing: border-box;
    padding: 0rem 5.623rem 0rem 1rem;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  /* .main .header .item--cUq {
      margin: 0rem 67.3rem 13.5rem 0rem;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1.3999999364;
      letter-spacing: -0.072rem;
      color: #000000;
      font-family: Pretendard, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    } */

  /* .main .header .logo {
      margin: 67px 49px 843px 843px;
      width: 23.4rem;
      height: 2.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      align-content: center
    } */


  .main .header .profile {
    margin-top: 5.9002rem;
    width: 35px;
    height: 35px;
    /*  object-fit: contain;*/
    vertical-align: top;
    /*  flex-shrink: 0;*/
  }

  .main .contents_frame {
    margin: 0rem 4.7rem 0rem 6rem;
    width: calc(100% - 10.7rem);
    height: 92.7589rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .main .contents_frame .left_contents_frame {
    margin: 0.767rem 6.7rem 0rem 0rem;
    width: 135.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .main .contents_frame .left_contents_frame .main_messege {
    margin-bottom: 3.2rem;
    width: 100%;
    height: 4.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3500000238;
    color: #2e3b4c;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f1ff;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }

  .contents_frame .left_contents_frame .video_area {
    margin-bottom: 2.7rem;
    width: 1355px;
    height: 762px;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

  .main .contents_frame .left_contents_frame .video_area {
    margin-bottom: 2.7rem;
    width: 1355px;
    height: 762px;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

  .main .left_contents_frame .video_area {
    margin-bottom: 2.7rem;
    width: 1355px;
    height: 762px;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

  .main .contents_frame .left_contents_frame .copyright {
    margin-left: 8rem;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05rem;
    color: #a8a8a8;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  .main .contents_frame .right_contents_frame {
    width: 39.1rem;
    height: 100%;
    flex-shrink: 0;
  }

  .main .contents_frame .right_contents_frame .right_contents_title {
    margin: 0rem 0.843rem 1.699rem 0rem;
    width: calc(100% - 0.8433rem);
    display: flex;
    align-items: center;
  }

  .main .contents_frame .right_contents_frame .right_contents_title .recordTxt {
    margin: 0rem 28.723rem 0.023rem 0rem;
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.044rem;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  .main .contents_frame .right_contents_frame .right_contents_title .icon-plus-circle-mono-5x5 {
    width: 2.9333rem;
    height: 2.9333rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

  .main .contents_frame .right_contents_frame .record_content_box {
    margin: 0rem 0rem 2.81rem 0.122rem;
    box-sizing: border-box;
    padding-bottom: 2.4819rem;
    width: 38.9778rem;
    box-shadow: 0 0.5235rem 1.2219rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    border-radius: 1.2219rem;
  }

  .main .contents_frame .right_contents_frame .record_content_box .mask-group-wjP {
    margin-bottom: 1.5384rem;
    width: 38.9778rem;
    height: 18.2059rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }

  .main .contents_frame .right_contents_frame .record_content_box .detectTime {
    margin: 0rem 0rem 0.666rem 2.199rem;
    display: flex;
    font-size: 1.3441rem;
    font-weight: 600;
    line-height: 1.3500000497;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
  }

  /*item-230710-17-28-UzD*/

  .main .contents_frame .right_contents_frame .record_content_box .auto-group-vzfb-Bdj {
    margin: 0rem 23.147rem 0rem 2.199rem;
    width: calc(100% - 25.3459rem);
    display: flex;
    align-items: center;
  }

  .main .contents_frame .right_contents_frame .record_content_box .auto-group-vzfb-Bdj .item--iNm {
    margin-right: 1.5319rem;
    display: flex;
    font-size: 1.955rem;
    font-weight: 600;
    line-height: 1.3500000146;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
</style>

<div class="main">
  <div class="header">

  </div>
  <div class="contents_frame">
    <div class="left_contents_frame">
      <div class="main_messege">등록한 위험물이 없어요! 한개 이상의 위험물을 등록해 주세요!</div>
      <section>
        <div class="col-sm">
          <img src="{{ url_for('webapp') }}" alt="Upload video">
        </div>
      </section>
      <p class="copyrightc">Copyright(c) 2023. H.AI. All rights reserved.</p>
    </div>
    <div class="right_contents_frame">
      <div class="right_contents_title">
        <div class="recordTxt">Record</div>

        <a href="http://127.0.0.1:5000/Dangerous_List">
          <img class="icon-plus-circle-mono-5x5" src="{{url_for('static', filename='image/plus_button.svg')}}"></a>
      </div>
      <div style="overflow:auto; width:438px; height:83rem;" class="scroll_area" id="scroll_area"">
        <div id="image-container">
        </div>
      </div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/show_captured_image.js')}}"></script>
{% endblock %}