{% extends 'header.html' %}
{% block content %}
<style>
  html {
    font-size: 62.5%;
  }

  .main.contents_frame {
    margin-top: 30px;
  }

  @media only screen and (min-width: 600px) {
    .main.contents_frame {
      display: flex;
      flex-direction: col;
    }
  }

  .main.contents_frame.copyrightc{
    justify-content: center;
  }

  .main.contents_frame.left_contents_frame {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 10px;
    margin-top: 40px;
    display: inline;
    width: 75%;
  }

  .main.contents_frame.left_contents_frame.main_messege {
    margin-bottom: 3.2rem;
    width: 100%;
    height: 4.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2e3b4c;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f1ff;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }

  .contents_frame.left_contents_frame.video_area {
    margin-bottom: 2.7rem;
    height: flex;
    flex-shrink: 0;
  }

  .main.contents_frame.left_contents_frame.copyright {
    /* margin-left: 8rem; */
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05rem;
    color: #a8a8a8;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  .main.contents_frame.right_contents_frame {
    height: 100%;
    width: 25%;
    margin-top: 35px;
    margin-left: 2%;
  }
  .main.contents_frame.right_contents_frame.scroll_area{
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory; */
  }


  .main.contents_frame.right_contents_frame.right_contents_title {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
  }

  .main.contents_frame.right_contents_frame.right_contents_title.recordTxt {
    display: flex;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -0.044rem;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    /* margin-left: 5px; */
  }

  .main.contents_frame.right_contents_frame.right_contents_title.icon-plus-circle-mono-5x5 {
    width: 35px;
    height: 35px;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

  .main.contents_frame.right_contents_frame.record_content_box {
    box-sizing: border-box;
    padding-bottom: 2.4819rem;
    width: 100%;
    box-shadow: 0 0.5235rem 1.2219rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    border-radius: 1.2219rem;
    margin-bottom: 25px;
  }

  .main.contents_frame.right_contents_frame.record_content_box.mask-group-wjP {
    margin-bottom: 1.5384rem;
    width: 100%;
    height: 18.2059rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }

  .main.contents_frame.right_contents_frame.record_content_box.detectTime {
    margin: 0.7rem 0rem 0.666rem 2.199rem;
    display: flex;
    font-size: 1.3441rem;
    font-weight: 600;
    line-height: 1.3500000497;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;

  }

  .main.contents_frame.right_contents_frame.record_content_box.auto-group-vzfb-Bdj {
    margin: 0rem 23.147rem 0rem 2.199rem;
    width: calc(100% - 25.3459rem);
    display: flex;
    align-items: center;
  }

  .main.contents_frame.right_contents_frame.record_content_box.auto-group-vzfb-Bdj.item--iNm {
    margin-right: 1.5319rem;
    display: flex;
    font-size: 1.955rem;
    font-weight: 600;
    line-height: 1.3500000146;
    color: #121212;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }


</style>

<div class="main">
  <div class="contents_frame">
    <div class="left_contents_frame">
      <div class="main_messege">위험물 등록이 완료되었어요! 고양이가 인덕션에 올라가면 알림을 드립니다</div>
        <section>
          <div class="col-sm">
            <img src="{{ url_for('webapp') }}" alt="Upload video" width="100%" height="auto" autoplay="">
          </div>
        </section>
      <p class="copyrightc">Copyright(c) 2023. H.AI. All rights reserved.</p>
    </div>
    <div class="right_contents_frame">
      <div class="right_contents_title">
        <div class="recordTxt">Record</div>

        <a href="http://127.0.0.1:5000/Dangerous_List">
          <img class="icon-plus-circle-mono-5x5" src="{{url_for('static', filename='image/plus_button.svg')}}"></a>
      </div>
      <div style="overflow:auto; width:flex; height:83rem;" class="scroll_area" id="scroll_area"">
        <div id="image-container">
          <script src="{{ url_for('static', filename='js/show_captured_image.js')}}"></script>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/show_captured_image.js')}}"></script> -->
{% endblock %}