    <div style="overflow:auto; width:438px; height:83rem;" class="scroll_area">

        <div class="record_content_box">
            <img class="mask-group-wjP" src={{url_for('static', filename='image/capture_dummyimg.png' )}}>

            <div class="detectTime">23.07.10 월 17:28시</div>
            <div class="auto-group-vzfb-Bdj">
                <div class="item--iNm">인덕션에 접촉했어요!</div>
            </div>
        </div>
        <div class="record_content_box">
            <img class="mask-group-wjP" src={{url_for('static', filename='image/capture_dummyimg.png' )}}>
            <div class="detectTime">23.07.10 월 17:28시</div>
            <div class="auto-group-vzfb-Bdj">
                <div class="item--iNm">인덕션에 접촉했어요!</div>
            </div>
        </div>

        <div class="record_content_box">
            <img class="mask-group-wjP" src={{url_for('static', filename='image/capture_dummyimg.png' )}}>
            <div class="detectTime">23.07.10 월 17:28시</div>
            <div class="auto-group-vzfb-Bdj">
                <div class="item--iNm">인덕션에 접촉했어요!</div>
            </div>
        </div>

        <div class="record_content_box">
            <img class="mask-group-wjP" src={{url_for('static', filename='image/capture_dummyimg.png' )}}>
            <div class="detectTime">23.07.10 월 17:28시</div>
            <div class="auto-group-vzfb-Bdj">
                <div class="item--iNm">인덕션에 접촉했어요!</div>
            </div>
        </div>
    </div>